.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    margin-top: 30px;
}

.Button:first-of-type {
    margin-left: 0;
}

.Success {
    color: #ffffff;
    background-color: #3a3ec1;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 18px 90px;
    font-size: 16px;
    font-weight: 700;
}

.Danger {
    color: #944317;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}