.Auth, .Form {
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Form {
    height: auto;
}

.Title {
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 20px;
}

.Subtitle {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0.8;
    margin-bottom: 50px;
}

.ActionBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.Middle {
    width: 1px;
    opacity: .8;
    background-color: #858f96;
    margin: 0 71px;
}

.RememberForgot {
    display: flex;
    justify-content: space-between;
}

.ForgotPassword {
    color: grey;
}

.Link {
    text-decoration: none;
    color: #3a3ec1;
}

.RememberMe {
    width: 15px;
    height: 15px;
}

.RememberMeLabel {
    cursor: pointer;
}