.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 19px 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 80%;
    height: 3px;
    background-color: rgb(84, 87, 92);
}