.NavigationItems {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 30px;
    flex-flow: row;
    width: 100%;
}

.NavigationItemsRight {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: row;
    float: right;
    margin-left: auto;
}

