.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.Logo img {
    height: 100%;
}

.Link {
    text-decoration: none;
    color: initial;
}

.Link:hover {
    color: blue;
    fill: blue;
}