.Input {
    box-sizing: border-box;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
}

.Label {
    color: rgb(54, 56, 64);
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.InputElement {
    width: 425px;
    height: 44px;
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    box-sizing: border-box;
    padding-right: 40px;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid rgb(240, 10, 107);
}

.PasswordIsVisible, .PasswordIsHidden {
    width: 24px;
    height: 24px;
    position: absolute;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    background-image: url(../../../assets/icons/visibility_off.svg);
}

.PasswordIsHidden:hover {
    background-image: url(../../../assets/icons/visibility_off_hover.svg);
}

.PasswordIsVisible {
    background-image: url(../../../assets/icons/visibility_on.svg);
}

.PasswordIsVisible:hover {
    background-image: url(../../../assets/icons/visibility_on_hover.svg);
}