.Button {
    background: none;
    outline: none;
    border: none;
    font-size: 12px;
    height: 100%;
    cursor: pointer;
    display: block;
}

.Button:hover {
    background: #d5d5d5;
}

.Table {
    border-collapse: collapse;
}